{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off"
  }
}
