.cell_data {
    position: relative;
    cursor: cell;
    background-color: #fff;
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
}

.selected {
    border: 1px double #2185d0;
    background-color: #2184d01f;
}

.cell_data.selected::after {
    cursor: crosshair;
    content: "";
    position: absolute;
    right: -3px;
    bottom: -3px;
    z-index: 1;
    background-color: #2185d0;
    width: 6px;
    height: 6px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}